#gameContext{
    width: 100%;
    height: calc(100% - 70px);

    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 60%  20%;
    grid-template-areas:
        "AA BB CC"
        "SR GM OP"
        "DD EE FF"
    ;
}

#gameScore{
    grid-area: SR;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

#gameScore h1{
   color: rgb(170, 170, 170);
   font-weight: 400;
   font-size: 18pt;
   margin-top: 20px;
}

#gameScore span{
    font-size: 30pt;
    font-weight: 700;
    color: #bebebe;
    margin: 50px 20px;
    letter-spacing: 0.1rem;
    transition: all 0.15s ease-in;
}

#gameOptions{
    grid-area: OP;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    opacity: 0.5;
    transition: all 0.15s ease-in;
}

#gameOptions:hover{
    opacity: 1;
}


#gameOptions img{
    width: 35%;
    cursor: pointer;
    transition: all 0.15s ease-in;
}

#gameOptions span{
    font-size: 16pt;
    font-weight: 400;
    color: #bebebe;
    margin: 5px 20px;
    letter-spacing: 0.1rem;
    transition: all 0.30s ease-in;
}

#gameOptions:hover img{
    width: 40%;
}

#gameOptions:hover span{
    margin:10px 10px;
    font-size:17pt;
}

#gameCanvas{
    grid-area: GM;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#canvas{
    width: 90%;
    height: 90%;
    background-color: #1E2228;
    transition: all .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    opacity: 0.8;
    border-radius: 12px;
}

/* #canvas:hover{
    width: 100%;
    height: 100%;
    background-color: #e7e7e7;
    transition: all .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
} */

#gameTitle{
    grid-area: BB;
  
    display: flex;
    flex-direction: row;

}

#gameTitleA{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    opacity: 0.5;
}


#gameTitleA:hover{
    opacity: 1;
    transition: all .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

#gameTitleA h4{
    font-size: 24pt;
    font-weight: 400;
    color: white;
    letter-spacing: 0.1rem;
}
#gameTitleA ul{
    margin-top: 15px;
    list-style: none;
}
#gameTitleA li{
    margin-top: 10px;
    font-size: 11pt;
    font-weight: 300;
    font-style: italic;
    color: #bebebe;
    letter-spacing: 0.1rem;
}

#gameTitleB{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#gameTitleB button{
    width: 30%;
    height: 50%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    
    transition: all 0.15s ease-in-out;

    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1rem;
    background-color: #1E2228;
    font-size: 12pt;
    font-weight: bold;
    color:  #2D333B;
    animation: gmButton 10s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

@keyframes gmButton {
        to{
            color:  #0EC9B9;
        }
}

#gameTitleB button:hover{
    color: #ffffff;
    width: 35%;
    height: 55%;
    font-size: 13pt;
    background-color: #16557a;
}

#gameTitleB button:active{
    color: #ffffff;
    background-color: #1C323F;
}